/* .img {
    max-height: 200px;
    max-width: 200px;
    min-height: 100px;
    min-width: 100px;
} */
.event {
    border-bottom-width: 30px;
    border-bottom-color: black;
    border-block-end-width: 20px;
    border-block-end-color: black;
  
}
 #event-item {
    background-color: rgb(186, 185, 189, 0.3);
    color: whitesmoke;
 }