.events-container {
    background-color: rgba(14, 13, 13, 0.7);
    border-width: 50px;
    border-color: black;
}
.event-title {
    color: whitesmoke;
    padding-left: 33%;
    font-weight: bold;
}

Button {
    float: right;
}