h1, h5 {
    color: rgb(42, 4, 59);
    float: right;
    align-content: flex-end;
    /* background-color: aquamarine; */
    
}
.navbar {
    background-color: rgb(252, 252, 252, 0.5);
}

.lowest {
    background-color: rgb(250, 2, 2);
}

.low {
    background-color: rgba(250, 184, 62, 0.9);
}

.medium {
    background-color: rgba(0, 255, 26, 0.9);
}

.high {
    background-color: rgb(58, 9, 236, 0.9);
}

.no-gauge {
    background-color: rgb(186, 185, 189, 0.9);
}

.flow {
    font-weight: bold;
    font-size: 125%;
    color: rgb(34, 34, 34);
}
td {
    /* font-weight: bold; */
}
.app-name {
    float: right;
}

#river {
    padding-right: 100px;
}
img {
    width: 40%;
    height: 40%;
}
