h1 {
    color: rgb(233, 233, 235);
    float: right;
    align-content: flex-end;
    
}
.nav {
    background-color: rgb(74, 74, 75);
}

.lowest {
    background-color: rgb(250, 2, 2);
}

.low {
    background-color: rgba(250, 184, 62, 0.4);
}

.medium {
    background-color: rgba(0, 255, 26, 0.6);
}

.high {
    background-color: rgb(58, 9, 236, 0.4);
}

.no-gauge {
    background-color: rgb(186, 185, 189, 0.4);
}

.flow {
    font-weight: bold;
    font-size: 125%;
    color: rgb(34, 34, 34);
}
td {
    /* font-weight: bold; */
}